body {
    position: relative;
}

.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}

@include pad {
    .container {
        padding: 0 36px;
    }
}


// ----- top -----


.top {
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo a {
    display: block;
    width: 80px;
    height: 50px;
    background-image: url("../images/logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        opacity: 0.8;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 40%;

    .nav-item {
        font-size: 20px;

        a {
            display: block;
            padding: 8px;
            text-decoration: none;
            color: #fff;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.mav-x-mobile {
    display: none;
    color: #fff;
}

@include pad {
    .nav-list {
        width: 60%;
    }
}

@include mobile {
    .nav-list {
        width: 75%;
    }
}

@include x-mobile {
    .top {
        .container {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px;
        left: 0;
        padding: 0;

        .nav-item {
            background-color: $main-color;
            display: none;

            &:hover {
                background-color: $main-darken;
            }

            a {
                display: block;
                width: 576px;
                padding: 16px 0;
                text-align: center;
            }
        }

        .show-item {
            display: block;
        }
    }

    .mav-x-mobile {
        display: block;
    }
}

// ----- footer -----

footer {
    background-color: $main-color;
    padding-top: 48px;
    padding-bottom: 32px;

    .footer-links {
        display: flex;
        justify-content: space-between;

        div {
            width: 90%;
        }
    }
}

.web-link {
    display: flex;
    justify-content: space-between;
    width: 45%;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 48px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-contact {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;

    .footer-tel {
        font-size: 36px;
        text-decoration: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }

        span {
            font-size: 36px;
            margin-right: 22px;
            vertical-align: -5px;
        }
    }

    .footer-mail {
        font-size: 36px;
        margin-top: 8px;
        text-decoration: none;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }

        span {
            font-size: 36px;
            margin-right: 22px;
            vertical-align: -5px;
        }
    }
}

.sns-link {
    display: flex;
    width: 208px;

    img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        margin-left: 8px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid #fff;

    p {
        color: #fff;
        font-size: 16px;
    }

    .copyright-link {
        display: flex;
        justify-content: space-between;
        width: 174px;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

@include pad {
    .web-link {
        width: 65%;
    }
}

@include mobile {
    footer {
        .footer-links {
            div {
                width: 100%;
            }
        }
    }

    .web-link {
        display: none;
    }

    .footer-contact {
        padding-top: 0;

        .footer-tel {
            font-size: 28px;

            span {
                font-size: 28px;
                margin-right: 8px;
            }
        }

        .footer-mail {
            font-size: 28px;

            span {
                font-size: 28px;
                margin-right: 8px;
            }
        }
    }

    .footer-copyright {
        flex-direction: column;
        align-items: start;

        .copyright-link {
            margin-top: 16px;
        }
    }
}


@include x-mobile {
    .footer-contact {
        .footer-tel {
            font-size: 18px;

            span {
                font-size: 18px;
                margin-right: 4px;
            }
        }

        .footer-mail {
            font-size: 18px;

            span {
                font-size: 18px;
                margin-right: 4px;
            }
        }
    }

    .sns-link {
        display: flex;
        width: 120px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}