body {
    position: relative;
}

.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;

    @include pad {
        max-width: 720px;
    }
}

// ----- top -----

.top {
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo a {
    display: block;
    width: 80px;
    height: 50px;
    background-image: url("../images/logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        opacity: 0.8;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @include pad {
        width: 60%;
    }

    @include mobile {
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px;
        left: 0;
        padding: 0;
    }

    .nav-item {
        font-size: 20px;

        @include mobile {
            background-color: $main-color;
            border-bottom: 2px solid $main-color;
            display: none;

            &:hover {
                border-bottom: 2px solid #fff;
            }
        }

        a {
            display: block;
            padding: 8px;
            text-decoration: none;
            color: #fff;

            @include mobile {
                display: block;
                width: 767px;
                padding: 16px 0;
                text-align: center;
            }

            &:hover {
                opacity: 0.8;

                @include mobile {
                    opacity: 1;
                }
            }
        }
    }
}

.nav-x-mobile {
    display: none;
    color: #fff;

    @include mobile {
        display: block;
    }
}

.show-item {
    display: block;
}

// ----- footer -----

footer {
    background-color: $main-color;
    padding-top: 48px;
    padding-bottom: 32px;

    .footer-links {
        display: flex;
        justify-content: space-between;

        div {
            width: 90%;

            @include mobile {
                width: 100%;
            }
        }
    }
}

.web-link {
    display: flex;
    justify-content: space-between;
    width: 45%;

    @include pad {
        width: 65%;
    }

    @include mobile {
        display: none;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        line-height: 48px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-contact {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;

    @include mobile {
        padding-top: 0;
    }

    .footer-tel {
        font-size: 36px;
        text-decoration: none;
        color: #fff;

        @include mobile {
            font-size: 28px;
        }

        @include x-mobile {
            font-size: 18px;
        }

        &:hover {
            opacity: 0.8;
        }

        span {
            font-size: 36px;
            margin-right: 22px;
            vertical-align: -5px;

            @include mobile {
                font-size: 28px;
                margin-right: 8px;
            }

            @include x-mobile {
                font-size: 18px;
                margin-right: 4px;
            }
        }
    }

    .footer-mail {
        font-size: 36px;
        margin-top: 8px;
        text-decoration: none;
        color: #fff;

        @include mobile {
            font-size: 28px;
        }

        @include x-mobile {
            font-size: 18px;
        }

        &:hover {
            opacity: 0.8;
        }

        span {
            font-size: 36px;
            margin-right: 22px;
            vertical-align: -5px;

            @include mobile {
                font-size: 28px;
                margin-right: 8px;
            }

            @include x-mobile {
                font-size: 18px;
                margin-right: 4px;
            }
        }
    }
}

.sns-link {
    display: flex;
    width: 208px;

    @include x-mobile {
        display: flex;
        width: 120px;
    }

    img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        margin-left: 8px;

        @include x-mobile {
            width: 24px;
            height: 24px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid #fff;

    @include mobile {
        flex-direction: column;
        align-items: start;
    }

    p {
        color: #fff;
        font-size: 16px;
    }

    .copyright-link {
        display: flex;
        justify-content: space-between;
        width: 174px;

        @include mobile {
            flex-direction: column;
            margin-top: 16px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}