.product-nav {
    margin-top: 80px;

    ul {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 33.33%;
            text-align: center;
            border-bottom: 8px solid #fff;

            @include mobile {
                width: calc(100vw - 15px);
                border-bottom: 0px;
            }

            &:hover {
                border-bottom: 8px solid $main-color;

                @include mobile {
                    border-bottom: 0px;
                    background-color: #F2F2F2;
                }
            }

            a {
                display: block;
                padding-top: 24px;
                padding-bottom: 16px;
                text-decoration: none;
                color: #000;
                font-size: 32px;

                @include mobile {
                    padding-top: 16px;
                    font-size: 28px;
                }
            }
        }
    }

}

.product-banner {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            width: 50%;
        }
    }
}

.product-collation {
    padding-top: 80px;
    padding-bottom: 80px;

    .collation-title {
        text-align: center;
        font-size: 42px;

        @include mobile {
            font-size: 32px;
        }

        span {
            display: block;
            font-size: 32px;

            @include mobile {
                font-size: 28px;
            }
        }
    }
}

.collation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    margin-top: -48px;
}

.collation-item {
    padding: 0 12px;
    width: 25%;
    margin-top: 80px;

    @include pad {
        width: 50%;
    }

    @include x-mobile {
        width: 100%;
    }

    img:hover {
        transform: translate(-10px, -10px);
        transition: 0.3s;
        cursor: pointer;
    }

    .item-info {
        display: flex;
        justify-content: space-between;
        font-size: 24px;

        @include mobile {
            font-size: 20px;
        }

        .item-price {
            color: $main-color;
        }
    }

    .item-colors {
        display: flex;
        justify-content: start;

        .item-dark-brown {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin-right: 8px;
            background-color: #5F3E2D;
        }

        .item-light-brown {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background-color: #B75929;
        }

    }
}

.Pagination {
    max-width: 380px;
    margin: 80px auto 0 auto;
    display: flex;
    border: 1px solid #555555;

    @include x-mobile {
        max-width: 258px;
    }

    li {
        text-align: center;
        border-right: 1px solid #555555;

        &:hover {
            background-color: #F2F2F2;
        }

        a {
            display: block;
            width: 42px;
            padding: 12px;
            text-decoration: none;
            color: #555555;
            font-size: 18px;

            @include x-mobile {
                width: 24px;
                padding: 2px;
                font-size: 16px;
            }
        }

        .page-pre {
            width: 81px;

            @include x-mobile {
                width: 65px;
            }
        }

        .page-next {
            width: 81px;

            @include x-mobile {
                width: 65px;
            }
        }

        .action {
            background-color: #000;
            color: #fff;
        }

        .disable {
            background-color: #F2F2F2;
        }
    }
}